%html
  %head
    %title Snake
    %link{:rel => 'stylesheet', :href => '/reset.css'}
    %link{:rel => 'stylesheet', :href => '/master.css'}

    //game engine
    %script{:src => "/faye.js"}
  
    %script{:src => "jquery.min.js", :type => "text/javascript"}
    %script{:src => "snake.js", :type => "text/javascript"}




    //%script{:src => "brain.js", :type => "text/javascript"}
    
  %body
    #bar
      %span#logo SNAKE
      #score_container
        Score:
        %span#score 0
      #play_menu
        %button{:id => "run_snake"}
          Run My Snake
      #pause_menu
        %button{:onclick => "pause();document.getElementById('resume_menu').style.display='block';document.getElementById('pause_menu').style.display='none';"} Pause Game
      #resume_menu
        %button{:onclick => "play();document.getElementById('pause_menu').style.display='block';document.getElementById('resume_menu').style.display='none';"} Resume Game
    %canvas#canvas{:width => 400, :height => 300}
